@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@layer utilities {
  .animate-typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(20) infinite;
  }
  .animate-blink {
    animation: blink 1s infinite;
  }
}
